@{
    ViewBag.Title = "Path";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Path for Route Optimizer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @using (Html.BeginForm("Path", "ShortestPath", FormMethod.Post))
    {
        <div class=" justify-content-xxl-center">
            <img class="align-content-center" style="width:50%;" src="~/Content/RouteGraph.png" />
            <div class="mb-3 ">
                @Html.Label("From Node")
                <input type="text" class="form-control" id="sourceNode" name="sourceNode" asp-for="SourceNode" required="required" />
            </div>
            <div class="mb-3">
                @Html.Label("To Node")
                <input type="text" class="form-control" id="destinationNode" name="destinationNode" asp-for="DestinationNode" required="required" />
            </div>

            <div>
                @Html.ValidationMessage("SourceNode", new { @style = "color: red" })
                @Html.ValidationMessage("DestinationNode", new { @style = "color: red" })
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        </div>
            }
</body>
</html>


